.App {
  text-align: center;
}

.Button-edit{
  background-color: blue;
  cursor: pointer;
  border-radius: 10px;
}

.Button-delete{
  background-color: red;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 0px;
}

